
@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>
<hr />
<div>
    <p>This are can be used to add the following:</p>
    <ul>
        <li>Reminders for Admin</li>
        <li>Tasks</li>
        <li>Site related issues</li>
        <li>etc</li>
    </ul>
</div>
